<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReportWatchEntities" connectionString="metadata=res://*/ReportWatchModel.csdl|res://*/ReportWatchModel.ssdl|res://*/ReportWatchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEITH-DEV\SQLEXPRESS;initial catalog=ReportWatch;persist security info=True;user id=ReportWatch;password=nicemoves;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>