<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReportWatchEntities" connectionString="metadata=res://*/ReportWatchModel.csdl|res://*/ReportWatchModel.ssdl|res://*/ReportWatchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=KEITH-PC;Initial Catalog=ReportWatch;Persist Security Info=True;User ID=ReportWatch;Password=nicemoves;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>